- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item UserAuthorization.model_name.human, user_authorizations_path , :active => true

= link_to t('scaffold.actions.show').titlecase, user_authorization_path(@user_authorization), :class => "btn info" 
.clear
%br/
= render 'form'
