- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item UserAuthorization.model_name.human, user_authorizations_path
    - breadcrumb.item t('scaffold.actions.new', :item => UserAuthorization.model_name.human).titlecase , user_authorizations_path, :active => true

= render 'form'
