%h1 Listado de Tipos de Calles
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @home_abouts.each do |home_about|
    %tr
      %td= home_about.detalle
      %td= home_about_links(home_about)
%br/
= link_to 'Nuevo Tipo de Calle', new_home_about_path
