<h1>Visualizacion de Tipo de Calle</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @home_about.detalle %>
</p>


<%= link_to 'Editar', edit_home_about_path(@home_about) %> |
<%= link_to 'Volver', home_abouts_path %>
