<h1>Habita sobre</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @home_about.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_home_about_path(@home_about) %> |
	<%= link_to "Eliminar", @home_about, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Habita sobre", home_abouts_path %>
</p>
