%h1 Listado de tipos de recibos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @tipo_recibos.each do |tipo_recibo|
    %tr
      %td= tipo_recibo.detalle
      %td= tipo_recibo_links(tipo_recibo)
%br/
= link_to 'Nuevo Tipo recibo', new_tipo_recibo_path
