<h1>Visualizacion de Tipo de Recibo</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @tipo_recibo.detalle %>
</p>


<%= link_to 'Editar', edit_tipo_recibo_path(@tipo_recibo) %> |
<%= link_to 'Volver', tipo_recibos_path %>
