- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossSituation.model_name.human, sicoss_situations_path 
    - breadcrumb.item "#{@sicoss_situation.name.titlecase}", sicoss_situation_path(@sicoss_situation), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_situation_path(@sicoss_situation), :class => "btn info" 
.clear
%br/
= render 'form'
