- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item MenuRole.model_name.human, menu_roles_path
    - breadcrumb.item t('scaffold.actions.new', :item => MenuRole.model_name.human).titlecase , menu_roles_path, :active => true

= render 'form'
