- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Menu.model_name.human, menus_path
    - breadcrumb.item t('scaffold.actions.new', :item => Menu.model_name.human).titlecase , nil, :active => true

= render 'form'
