%h1 Listado de Sindicatos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @labor_unions.each do |labor_union|
    %tr
      %td= labor_union.detalle
      %td= labor_union_links(labor_union)
%br/
= link_to 'Nuevo Sindicato', new_labor_union_path
