<h1>Sindicato</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @labor_union.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_labor_union_path(@labor_union) %> |
	<%= link_to "Eliminar", @labor_union, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Sidicatos", labor_unions_path %>
</p>
