<h1>Visualizacion de Sindicatos</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @labor_union.detalle %>
</p>


<%= link_to 'Editar', edit_labor_union_path(@labor_union) %> |
<%= link_to 'Volver', labor_unions_path %>
