- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Employee.model_name.human, employees_path
    - breadcrumb.item "#{@employee.full_name.titlecase}", employee_path(@employee), :active => true

/ %h1 Edicion de Empleado
= link_to t('scaffold.actions.show').titlecase, employee_path(@employee), :class => "btn info"
.clear
%br/
= render 'form'
