%h1 Listing employments
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @employments.each do |employment|
    %tr
      %td= employment.detalle
      %td= employment_links(employment)
%br/
= link_to 'Nueva Ocupacion', new_employment_path
