<h1>Visualizacion de Ocupacion</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @employment.detalle %>
</p>


<%= link_to 'Editar', edit_employment_path(@employment) %> |
<%= link_to 'Volver', employments_path %>
