- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossReductionZone.model_name.human, sicoss_reduction_zones_path 
    - breadcrumb.item "#{@sicoss_reduction_zone.name.titlecase}", sicoss_reduction_zone_path(@sicoss_reduction_zone), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_reduction_zone_path(@sicoss_reduction_zone), :class => "btn info" 
.clear
%br/
= render 'form'
