- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossReductionZone.model_name.human, sicoss_reduction_zones_path
    - breadcrumb.item t('scaffold.actions.new', :item => SicossReductionZone.model_name.human).titlecase , nil, :active => true

= render 'form'
