- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossActivity.model_name.human, sicoss_activities_path 
    - breadcrumb.item "#{@sicoss_activity.name.titlecase}", sicoss_activity_path(@sicoss_activity), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_activity_path(@sicoss_activity), :class => "btn info" 
.clear
%br/
= render 'form'
