- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossActivity.model_name.human, sicoss_activities_path
    - breadcrumb.item t('scaffold.actions.new', :item => SicossActivity.model_name.human).titlecase , sicoss_activities_path, :active => true

= render 'form'
