%h1 Listado de Tareas
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @tasks.each do |task|
    %tr
      %td= task.detalle
      %td= task_links(task)
%br/
= link_to 'Nueva Tarea', new_task_path
