<h1>Tarea</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @task.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_task_path(@task) %> |
	<%= link_to "Eliminar", @task, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Tareas", tasks_path %>
</p>
