%h1 Listado de Tipos de Remuneracion
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @remuneration_types.each do |remuneration_type|
    %tr
      %td= remuneration_type.detalle
      %td= remuneration_type_links(remuneration_type)
%br/
= link_to 'Nuevo Tipo de Remuneracion', new_remuneration_type_path
