<h1>Visualizacion de Tipo de Remuneracion</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @remuneration_type.detalle %>
</p>


<%= link_to 'Editar', edit_remuneration_type_path(@remuneration_type) %> |
<%= link_to 'Volver', remuneration_types_path %>
