%h1 Visualizacion de Tipo de Remuneracion
%p#notice= notice
%p
  %b Detalle:
  = @remuneration_type.detalle
= remuneration_type_links(@remuneration_typemodelo)
|
\#{link_to 'Volver', remuneration_types_path}
