- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item MaritalStatus.model_name.human, marital_statuses_path 
    - breadcrumb.item "#{@marital_status.detalle.titlecase}", marital_status_path(@marital_status), :active => true

= link_to t('scaffold.actions.show').titlecase, marital_status_path(@marital_status), :class => "btn info" 
.clear
%br/
= render 'form'
