%h1 Listado de Estado Civil
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @marital_statuses.each do |marital_status|
    %tr
      %td= marital_status.detalle
      %td= marital_status_links(marital_status)
%br/
= link_to 'Nuevo Estado Civil', new_marital_status_path
