- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item MaritalStatus.model_name.human, marital_statuses_path
    - breadcrumb.item t('scaffold.actions.new', :item => MaritalStatus.model_name.human).titlecase , marital_statuses_path, :active => true

= render 'form'
