%h1 Visualizacion de Estado Civil
%p#notice= notice
%p
  %b Detalle:
  = @marital_status.detalle
= link_to 'Editar', edit_marital_status_path(@marital_status)
|
\#{link_to 'Volver', marital_statuses_path}
