<h1>Estado Civil</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @marital_status.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_marital_status_path(@marital_status) %> |
	<%= link_to "Eliminar", @marital_status, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Estados Civiles", marital_statuses_path %>
</p>
