- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EmailType.model_name.human, email_types_path 
    - breadcrumb.item "#{@email_type.detalle.titlecase}", email_type_path(@email_type), :active => true

= link_to t('scaffold.actions.show').titlecase, email_type_path(@email_type), :class => "btn info" 
.clear
%br/
= render 'form'
