- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EducationalLevel.model_name.human, educational_levels_path 
    - breadcrumb.item "#{@educational_level.detalle.titlecase}", educational_level_path(@educational_level), :active => true

= link_to t('scaffold.actions.show').titlecase, educational_level_path(@educational_level), :class => "btn info" 
.clear
%br/
= render 'form'
