%h1
  %h1 Listado de Niveles de Educacion
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @educational_levels.each do |educational_level|
    %tr
      %td= educational_level.detalle
      %td= educational_level_links(educational_level)
%br/

= link_to 'Nuevo Nivel de Educacion', new_educational_level_path
