<h1>Visualizacion de Nivel de Educacion</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @educational_level.detalle %>
</p>


<%= link_to 'Editar', edit_educational_level_path(@educational_level) %> 
<%= link_to 'Volver', educational_levels_path %>
