%h1 Visualizacion de Nivel de Educacion
%p#notice= notice
%p
  %b Detalle:
  = @educational_level.detalle
= link_to 'Editar', edit_educational_level_path(@educational_level)
= link_to 'Volver', educational_levels_path
