#header
  //background-color: #c3d5d5
  background-color: #00264D

.actions
  text-align: center

.menu_level
  text-align: left
  padding-left: 5px

table.tableStandard
  border: solid 1px #e8eef4
  border-collapse: collapse
  th
    background-color: #c3d5d5
    padding: 6px 5px
    text-align: left
    border: solid 1px #e8eef4
  td
    padding: 5px
    border: solid 1px #e8eef4
  tr:hover
    background-color: #e8eef4

table.tableForm
  border: none 0px #e8eef4
  border-collapse: collapse
  width: 100%

table.tableForm td.columnLabel
  width: 20%
  background-color: #c3d5d5
  padding: 5px 2px 5px 5px
  font-size: 12px

table.tableForm td.columnData
  width: 80%
  padding: 5px 2px 5px 5px
  font-size: 12px

.labelForm
  padding: 0px 0px 0px 0px
  text-align: left

.apsLabel
  padding: 0px 0px 0px 0px
  text-align: left
  font-size: 12px

.apsTextbox
  padding: 0px 0px 0px 0px
  text-align: left
  font-size: 12px
  color: #000

.apsDatetime
  padding: 0px 0px 0px 0px
  text-align: left
  font-size: 12px
  width: 80px

.apsSelect
  padding: 0px 0px 0px 0px
  text-align: left
  font-size: 12px

div.inner
  text-align: left
  width: 100%


