/*
 *  PEQL
 *
 *  -------------------------------------
 */

// Pablo van Diest

.tableStandard
  border-collapse: collapse
  border: solid 1px #e8eef4
  th
    padding: 6px 5px
    text-align: left
    background-color: #c3d5d5
    border: solid 1px #e8eef4
  td
    padding: 5px
    border: solid 1px #e8eef4
  .checkbox
    margin-left: 10px
  tr:hover
    background-color: #e8eef4

