- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossFormat.model_name.human, sicoss_formats_path 
    - breadcrumb.item "#{@sicoss_format.name.titlecase}", sicoss_format_path(@sicoss_format), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_format_path(@sicoss_format), :class => "btn info" 
.clear
%br/
= render 'form'
