- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SchemaMigration.model_name.human, schema_migrations_path , :active => true

= link_to t('scaffold.actions.show').titlecase, schema_migration_path(@schema_migration), :class => "btn info" 
.clear
%br/
= render 'form'
