%h1 Listado de Aportes Patronales
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @group_employer_contributions.each do |group_employer_contribution|
    %tr
      %td= group_employer_contribution.detalle
      %td= group_employer_contribution_links(group_employer_contribution)
%br/
= link_to 'Nuevo Grupo de Aportes Patronales', new_group_employer_contribution_path
