<h1>Grupo de Renuneracion</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @group_renuneration.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_group_renuneration_path(@group_renuneration) %> |
	<%= link_to "Eliminar", @group_renuneration, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Grupos de Renuneraciones", group_renuneration_path %>
</p>
