<h1>Modalidad de Cotratacion</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @contract_mode.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_contract_mode_path(@contract_mode) %> |
	<%= link_to "Eliminar", @contract_mode, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Modalidades de Contratacion", contract_modes_path %>
</p>
