- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossEmployerType.model_name.human, sicoss_employer_types_path 
    - breadcrumb.item "#{@sicoss_employer_type.name.titlecase}", sicoss_employer_type_path(@sicoss_employer_type), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_employer_type_path(@sicoss_employer_type), :class => "btn info" 
.clear
%br/
= render 'form'
