- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossContractMode.model_name.human, sicoss_contract_modes_path 
    - breadcrumb.item "#{@sicoss_contract_mode.name.titlecase}", sicoss_contract_mode_path(@sicoss_contract_mode), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_contract_mode_path(@sicoss_contract_mode), :class => "btn info" 
.clear
%br/
= render 'form'
