- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossContractMode.model_name.human, sicoss_contract_modes_path
    - breadcrumb.item t('scaffold.actions.new', :item => SicossContractMode.model_name.human).titlecase , nil, :active => true

= render 'form'
