/*  Cross-browser mixins
 *
 *  -------------------------------------
 */
/* line 3, ../../app/stylesheets/application.sass */
#ui-datepicker-div {
  display: none;
}

/* line 7, ../../app/stylesheets/application.sass */
#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
/* line 10, ../../app/stylesheets/application.sass */
#main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 12, ../../app/stylesheets/application.sass */
#main .main p.first {
  margin-top: 0;
}

/* line 15, ../../app/stylesheets/application.sass */
form.formtastic fieldset > ol > li label {
  float: none;
}

/* line 18, ../../app/stylesheets/application.sass */
ul.wat-cf {
  list-style-type: none;
  position: static;
  text-align: left;
  display: inline;
  margin: 0px 0px 0px 0px;
}
/* line 24, ../../app/stylesheets/application.sass */
ul.wat-cf li {
  display: inline;
  padding-right: 0px;
}

/* line 30, ../../app/stylesheets/application.sass */
table tr td.actions a {
  visibility: hidden;
}
/* line 32, ../../app/stylesheets/application.sass */
table tr:hover td.actions a {
  visibility: visible;
}

/* line 35, ../../app/stylesheets/application.sass */
.clear {
  margin: 10px 10px 10px 10px;
}

/* line 38, ../../app/stylesheets/application.sass */
.block {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

/* line 42, ../../app/stylesheets/application.sass */
.content {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

/* line 46, ../../app/stylesheets/application.sass */
#main {
  width: 77%;
  float: left;
}
/* line 51, ../../app/stylesheets/application.sass */
#main .block {
  padding-top: 0px;
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 58, ../../app/stylesheets/application.sass */
#main .block .content {
  padding-top: 1px;
}
/* line 60, ../../app/stylesheets/application.sass */
#main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 62, ../../app/stylesheets/application.sass */
#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
/* line 70, ../../app/stylesheets/application.sass */
#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}
/* line 78, ../../app/stylesheets/application.sass */
#main .block-norounded {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* line 82, ../../app/stylesheets/application.sass */
.form_box {
  background: #e8eef4;
  margin: 30px 0px 30px;
}

/* line 101, ../../app/stylesheets/application.sass */
#box {
  width: 500px;
  margin: 50px auto;
  background-color: #dedede;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 106, ../../app/stylesheets/application.sass */
#box h2 {
  margin: 0;
}
/* line 108, ../../app/stylesheets/application.sass */
#box .block {
  margin-bottom: 20px;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c3d5d5), to(#6c9999));
  background-image: -moz-linear-gradient(top, #c3d5d5, #6c9999);
  background-image: -ms-linear-gradient(top, #c3d5d5, #6c9999);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3d5d5), color-stop(100%, #6c9999));
  background-image: -webkit-linear-gradient(top, #c3d5d5, #6c9999);
  background-image: -o-linear-gradient(top, #c3d5d5, #6c9999);
  background-image: linear-gradient(top, #c3d5d5, #6c9999);
}
/* line 119, ../../app/stylesheets/application.sass */
#box .block .content {
  padding: 10px 20px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 122, ../../app/stylesheets/application.sass */
#box .block .content h2 {
  background-color: #00264d;
  color: white;
  margin: 0;
  padding: 10px 15px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/* line 129, ../../app/stylesheets/application.sass */
.user_navigation {
  text-align: left;
  display: block;
  float: right;
  margin: 0px 10px 50px 0px;
  padding: 0px 10px 0px 0px;
  position: relative;
  width: 50px;
}
/* line 137, ../../app/stylesheets/application.sass */
.user_navigation ul {
  position: relative;
  padding: 0;
  height: 30px;
}
/* line 141, ../../app/stylesheets/application.sass */
.user_navigation ul li {
  padding: 0px 2px;
  margin: 0;
  list-style: none;
}

/* line 146, ../../app/stylesheets/application.sass */
.user_new label {
  margin: 12px 10px 0px 0px;
}

/* line 151, ../../app/stylesheets/application.sass */
.user_new input {
  margin: 2px 0px 0px 0px;
}

/* line 156, ../../app/stylesheets/application.sass */
.user_new input[type="checkbox"] {
  margin: 20px 0px 0px 0px;
}

/* line 165, ../../app/stylesheets/application.sass */
.breadcrumb {
  position: static;
  height: 30px;
  width: 92%;
  float: left;
  display: inline;
}
/* line 172, ../../app/stylesheets/application.sass */
.breadcrumb ul {
  position: relative;
  margin: 0px 5px 0 5px;
  padding: 0;
  height: 30px;
  background: url("../images/breadcrumbImage.png") 0px -30px repeat-x;
}
/* line 179, ../../app/stylesheets/application.sass */
.breadcrumb ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  height: 30px;
  display: inline;
}
/* line 186, ../../app/stylesheets/application.sass */
.breadcrumb ul li a {
  color: blue;
  text-decoration: none;
  line-height: 30px;
  display: block;
  background: url("../images/breadcrumbImage.png") 100% -60px no-repeat;
  padding: 0 17px 0 15px;
  outline: none;
}
/* line 194, ../../app/stylesheets/application.sass */
.breadcrumb ul li a:hover {
  text-decoration: underline;
  background-color: white;
  color: blue;
}
/* line 198, ../../app/stylesheets/application.sass */
.breadcrumb ul li a.active {
  background: none;
  color: black;
}
/* line 201, ../../app/stylesheets/application.sass */
.breadcrumb ul li a.active:hover {
  text-decoration: none;
}
/* line 203, ../../app/stylesheets/application.sass */
.breadcrumb ul li.active {
  color: black;
  text-decoration: none;
  line-height: 30px;
  display: block;
  background: url("../images/breadcrumbImage.png") 100% -60px no-repeat;
  padding: 0 17px 0 15px;
  outline: none;
}
/* line 211, ../../app/stylesheets/application.sass */
.breadcrumb ul li.active.active {
  background: none;
}
/* line 213, ../../app/stylesheets/application.sass */
.breadcrumb .left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 30px;
  display: block;
  z-index: 1;
  background: url("../images/breadcrumbImage.png") 0% 0px no-repeat;
}
/* line 222, ../../app/stylesheets/application.sass */
.breadcrumb .right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 30px;
  display: inline;
  z-index: 1;
  background: url("../images/breadcrumbImage.png") 100% -90px no-repeat;
}

/* line 237, ../../app/stylesheets/application.sass */
.flash .message {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto 15px;
}
/* line 241, ../../app/stylesheets/application.sass */
.flash .message p {
  margin: 8px;
}
/* line 244, ../../app/stylesheets/application.sass */
.flash .error, .flash .error-list {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
/* line 248, ../../app/stylesheets/application.sass */
.flash .warning {
  background-color: #ffffcc;
}
/* line 252, ../../app/stylesheets/application.sass */
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
/* line 256, ../../app/stylesheets/application.sass */
.flash .success {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
/* line 260, ../../app/stylesheets/application.sass */
.flash .error-list {
  text-align: left;
}
/* line 262, ../../app/stylesheets/application.sass */
.flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
/* line 265, ../../app/stylesheets/application.sass */
.flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}

/* line 274, ../../app/stylesheets/application.sass */
.field_with_errors input, .field_with_errors checkbox, .field_with_errors select {
  border: 1px solid red;
  background: #fddfde;
}

/* line 279, ../../app/stylesheets/application.sass */
#error_explanation {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid red;
}
/* line 283, ../../app/stylesheets/application.sass */
#error_explanation ul {
  position: relative;
  margin: 0px 5px 0 5px;
  padding: 0;
  display: block;
}
/* line 289, ../../app/stylesheets/application.sass */
#error_explanation ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
