/* line 1, ../../app/stylesheets/application.sass */
#ui-datepicker-div {
  display: none;
}

/* line 4, ../../app/stylesheets/application.sass */
form.formtastic fieldset > ol > li label {
  float: none;
}

/* line 7, ../../app/stylesheets/application.sass */
ul.wat-cf {
  list-style-type: none;
  position: static;
  text-align: left;
}
/* line 11, ../../app/stylesheets/application.sass */
ul.wat-cf li {
  display: inline;
  list-style-type: none;
  padding-right: 0px;
}

/* line 16, ../../app/stylesheets/application.sass */
.user_navigation {
  text-align: left;
  position: static;
  padding: 0px 10px 0px 0px;
}

/* line 21, ../../app/stylesheets/application.sass */
.block {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

/* line 25, ../../app/stylesheets/application.sass */
.content {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

/* line 29, ../../app/stylesheets/application.sass */
.breadcrumb {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0px 0px 30px 0px;
}
/* line 34, ../../app/stylesheets/application.sass */
.breadcrumb ul {
  position: relative;
  margin: 0 5px 0 5px;
  padding: 0;
  height: 30px;
  background: url("../images/breadcrumbImage.png") 0px -30px repeat-x;
}
/* line 40, ../../app/stylesheets/application.sass */
.breadcrumb ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  height: 30px;
  display: inline;
}
/* line 47, ../../app/stylesheets/application.sass */
.breadcrumb ul li a {
  color: blue;
  text-decoration: none;
  line-height: 30px;
  display: block;
  background: url("../images/breadcrumbImage.png") 100% -60px no-repeat;
  padding: 0 17px 0 15px;
  outline: none;
}
/* line 55, ../../app/stylesheets/application.sass */
.breadcrumb ul li a:hover {
  text-decoration: underline;
  background-color: white;
  color: blue;
}
/* line 59, ../../app/stylesheets/application.sass */
.breadcrumb ul li a.active {
  background: none;
  color: black;
}
/* line 62, ../../app/stylesheets/application.sass */
.breadcrumb ul li a.active:hover {
  text-decoration: none;
}
/* line 64, ../../app/stylesheets/application.sass */
.breadcrumb ul li.active {
  color: black;
  text-decoration: none;
  line-height: 30px;
  display: block;
  background: url("../images/breadcrumbImage.png") 100% -60px no-repeat;
  padding: 0 17px 0 15px;
  outline: none;
}
/* line 72, ../../app/stylesheets/application.sass */
.breadcrumb ul li.active.active {
  background: none;
}
/* line 74, ../../app/stylesheets/application.sass */
.breadcrumb .left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 30px;
  display: block;
  z-index: 1;
  background: url("../images/breadcrumbImage.png") 0% 0px no-repeat;
}
/* line 83, ../../app/stylesheets/application.sass */
.breadcrumb .right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 30px;
  display: block;
  z-index: 1;
  background: url("../images/breadcrumbImage.png") 100% -90px no-repeat;
}

/* line 93, ../../app/stylesheets/application.sass */
#box {
  width: 500px;
  margin: 50px auto;
  background-color: #dedede;
}
/* line 97, ../../app/stylesheets/application.sass */
#box .block {
  margin-bottom: 20px;
}
/* line 99, ../../app/stylesheets/application.sass */
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
  background-color: #00264d;
  color: white;
}
/* line 104, ../../app/stylesheets/application.sass */
#box .block .content {
  padding: 10px 20px;
}

/* line 108, ../../app/stylesheets/application.sass */
#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
/* line 111, ../../app/stylesheets/application.sass */
#main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 113, ../../app/stylesheets/application.sass */
#main .main p.first {
  margin-top: 0;
}

/* line 117, ../../app/stylesheets/application.sass */
.flash .message {
  text-align: center;
  margin: 0 auto 15px;
}
/* line 121, ../../app/stylesheets/application.sass */
.flash .message p {
  margin: 8px;
}
/* line 124, ../../app/stylesheets/application.sass */
.flash .error, .flash .error-list {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
/* line 128, ../../app/stylesheets/application.sass */
.flash .warning {
  background-color: #ffffcc;
}
/* line 132, ../../app/stylesheets/application.sass */
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
/* line 136, ../../app/stylesheets/application.sass */
.flash .error-list {
  text-align: left;
}
/* line 138, ../../app/stylesheets/application.sass */
.flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
/* line 141, ../../app/stylesheets/application.sass */
.flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}
