/* ----------------------------------------------------------
 * RUBY APS Web Deveopment
 * Claudio Annecchini, Luis Petek, Pablo van Diest, Sebastian Diaz
 *----------------------------------------------------------
 */
/* line 1, ../../app/stylesheets/partials/_apolo.sass */
#header {
  background-color: #00264d;
}

/* line 5, ../../app/stylesheets/partials/_apolo.sass */
.actions {
  text-align: center;
}

/* line 8, ../../app/stylesheets/partials/_apolo.sass */
.links {
  text-align: left;
  background-color: #00264d;
}

/* line 12, ../../app/stylesheets/partials/_apolo.sass */
.menu_level {
  text-align: left;
  padding-left: 5px;
}

/* line 16, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard {
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}
/* line 19, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard th {
  background-color: #c3d5d5;
  padding: 6px 5px;
  text-align: left;
  border: solid 1px #e8eef4;
}
/* line 24, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard td {
  padding: 5px;
  border: solid 1px #e8eef4;
}
/* line 27, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard tr:hover {
  background-color: #e8eef4;
}

/* line 30, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm {
  background-color: #e8eef4;
  margin: 30px 0 30px 0;
  border: none 0px #e8eef4;
  border-collapse: collapse;
  width: 100%;
}

/* line 45, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm td.columnLabel {
  width: 30%;
  padding: 5px 2px 5px 5px;
  font-size: 12px;
}

/* line 51, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm td.columnData {
  width: 70%;
  padding: 7px 2px 5px 5px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

/* line 58, ../../app/stylesheets/partials/_apolo.sass */
.labelForm {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
}

/* line 63, ../../app/stylesheets/partials/_apolo.sass */
.apsLabel {
  color: #00264d;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px 0px 0px;
  text-align: right;
}

/* line 70, ../../app/stylesheets/partials/_apolo.sass */
.apsTextbox {
  color: black;
  font-size: 12px;
  padding: 2px 0px 0px 5px;
  text-align: left;
}
/* line 75, ../../app/stylesheets/partials/_apolo.sass */
.apsTextbox:hover {
  background-color: #c3d5d5;
}
/* line 77, ../../app/stylesheets/partials/_apolo.sass */
.apsTextbox:focus {
  background-color: #c3d5d5;
  border: solid 1px #00264d;
}

/* line 81, ../../app/stylesheets/partials/_apolo.sass */
.apsDatetime {
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  width: 80px;
}

/* line 87, ../../app/stylesheets/partials/_apolo.sass */
.apsSelect {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
}

/* line 92, ../../app/stylesheets/partials/_apolo.sass */
div.inner {
  text-align: left;
  width: 100%;
}

/*  Cross-browser mixins
 *
 *  -------------------------------------
 */
