/* ----------------------------------------------------------
 * RUBY APS Web Deveopment
 * Claudio Annecchini, Luis Petek, Pablo van Diest, Sebastian Diaz
 *----------------------------------------------------------
 */
/* line 1, ../../app/stylesheets/partials/_apolo.sass */
#header {
  background-color: #00264d;
}

/* line 5, ../../app/stylesheets/partials/_apolo.sass */
.actions {
  text-align: center;
}

/* line 8, ../../app/stylesheets/partials/_apolo.sass */
.menu_level {
  text-align: left;
  padding-left: 5px;
}

/* line 12, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard {
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}
/* line 15, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard th {
  background-color: #c3d5d5;
  padding: 6px 5px;
  text-align: left;
  border: solid 1px #e8eef4;
}
/* line 20, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard td {
  padding: 5px;
  border: solid 1px #e8eef4;
}
/* line 23, ../../app/stylesheets/partials/_apolo.sass */
table.tableStandard tr:hover {
  background-color: #e8eef4;
}

/* line 26, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm {
  border: none 0px #e8eef4;
  border-collapse: collapse;
  width: 100%;
}

/* line 31, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm td.columnLabel {
  width: 20%;
  background-color: #c3d5d5;
  padding: 5px 2px 5px 5px;
  font-size: 12px;
}

/* line 37, ../../app/stylesheets/partials/_apolo.sass */
table.tableForm td.columnData {
  width: 80%;
  padding: 5px 2px 5px 5px;
  font-size: 12px;
}

/* line 42, ../../app/stylesheets/partials/_apolo.sass */
.labelForm {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

/* line 46, ../../app/stylesheets/partials/_apolo.sass */
.apsLabel {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
}

/* line 51, ../../app/stylesheets/partials/_apolo.sass */
.apsTextbox {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
  color: black;
}

/* line 57, ../../app/stylesheets/partials/_apolo.sass */
.apsDatetime {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
  width: 80px;
}

/* line 63, ../../app/stylesheets/partials/_apolo.sass */
.apsSelect {
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 12px;
}

/* line 68, ../../app/stylesheets/partials/_apolo.sass */
div.inner {
  text-align: left;
  width: 100%;
}
