- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item RetentionConcept.model_name.human, retention_concepts_path
    - breadcrumb.item t('scaffold.actions.new', :item => RetentionConcept.model_name.human).titlecase , retention_concepts_path, :active => true

= render 'form'
