<h1>Editar Tipo de Cuenta Bancaria</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @bank_deposit_account_type %> |
	<%= link_to "Tipos de Cuentas Bancarias", bank_deposit_account_types_path %>
</p>
