%h1 Listado de Tipos de Cuenta Bancaria
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @bank_deposit_account_types.each do |bank_deposit_account_type|
    %tr
      %td= bank_deposit_account_type.detalle
      %td= bank_deposit_account_type_links(bank_deposit_account_type)
%br/
= link_to 'Nuevo Tipo de Cuenta Bancaria', new_bank_deposit_account_type_path
