- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item BankDepositAccountType.model_name.human, bank_deposit_account_types_path
    - breadcrumb.item t('scaffold.actions.new', :item => BankDepositAccountType.model_name.human).titlecase , bank_deposit_account_types_path, :active => true

= render 'form'
