%h1 Visualizacion Tipo de Cuenta Bancaria
%p#notice= notice
%p
  %b Detalle:
  = @bank_deposit_account_type.detalle
= bank_deposit_account_type_links(@bank_deposit_account_type)
|
\#{link_to 'Vover', bank_deposit_account_types_path}
