%h1 Visualizacion Tipo de Cuenta Bancaria
%p#notice= notice
%p
  %b Detalle:
  = @bank_deposit_account_type.detalle
= link_to 'Editar', edit_bank_deposit_account_type_path(@bank_deposit_account_type)
|
\#{link_to 'Vover', bank_deposit_account_types_path}
