<h1>Grupo de Remuneraciones</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @group_renumbering.detalle %>
</p>


<%= link_to 'Editar', edit_group_renumbering_path(@group_renumbering) %> |
<%= link_to 'Volver', group_renumberings_path %>
