%h1 Listado de Grupos de Retenciones
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @group_retentions.each do |group_retention|
    %tr
      %td= group_retention.detalle
      %td= group_retention_links(group_retention)
%br/
= link_to 'Nuevo Grupo de Retenciones', new_group_retention_path
