<h1>Grupo de Retenciones</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @group_retention.detalle %>
</p>


<%= link_to 'Editar', edit_group_retention_path(@group_retention) %> |
<%= link_to 'Volver', group_retentions_path %>
