<h1>Grupo de Retencion</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @group_retention.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_group_retention_path(@group_retention) %> |
	<%= link_to "Eliminar", @group_retention, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Grupos de Retenciones", group_retentions_path %>
</p>
