= link_to_function(icon('disk') + 'Guardar', "$(this).closest('form').submit();", :class => :button)
= link_to_function(icon('arrow_rotate_clockwise') + 'Limpiar', "$(this).closest('form').reset();", :class => :button)
.clear

