- if signed_in? && @user_menu.any?
  #menu
    %ul.menu
      - @user_menu.select{|menu| menu[:parent_id] == nil }.sort_by{|s| s.order_no}.each do |level0|
        = render 'shared/main_menu_level', :top_level => level0
