.block
  %ul.navigation
    %li
      %a{:href => "/accounting_imputations"} Cuentas Contables
    %li
      %a{:href => "/bank_deposit_account_types"} Tipos de Cuentas Bancarias
    %li
      %a{:href => "/bank_deposits"} Bancos
    %li
      %a{:href => "/categories"} Categorias
    %li
      %a{:href => "/causa_egresos"} Causas de Egreso
    %li
      %a{:href => "/character_services"} Caracter de Servicio
    %li
      %a{:href => "/contract_modes"} Modalidad de Contrato
    %li
      %a{:href => "/cost_centers"} Centro de Costos
    %li
      %a{:href => "/countries"} Paises
    %li
      %a{:href => "/data_to_asks"} Datos a Pedir
    %li
      %a{:href => "/deduccion_ganancias_tables"} Deduccion Ganancias
    %li
      %a{:href => "/document_types"} Tipos de Documentos
    %li
      %a{:href => "/educational_levels"} Nivel de Educacion
    %li
      %a{:href => "/email_types"} Tipos de eMail
    %li
      %a{:href => "/employees"} Empleados
    %li
      %a{:href => "/employer_contribution_concepts"} Aportes Patronales
    %li
      %a{:href => "/employments"} Ocupacion
    %li
      %a{:href => "/group_employer_contributions"} Grupo de Aportes Patronales
    %li
      %a{:href => "/group_remunerations"} Grupos de Remuneraciones
    %li
      %a{:href => "/group_retentions"} Grupos de Retenciones
    %li
      %a{:href => "/issueds"} Lugar Emision Documento
    %li
      %a{:href => "/health_insurances"} Obras Sociales
    %li
      %a{:href => "/home_abouts"} Tipos de Calles
    %li
      %a{:href => "/insurance_companies"} Aseguradoras
    %li
      %a{:href => "/issueds"} Lugar Emision Documento
    %li
      %a{:href => "/labor_unions"} Sindicatos
    %li
      %a{:href => "/liquidacions"} Liquidaciones
    %li
      %a{:href => "/locations"} Localidades
    %li
      %a{:href => "/marital_statuses"} Estado Civil
    %li
      %a{:href => "/nationalities"} Nacionalidades
    %li
      %a{:href => "/places"} Lugar de Trabajo
    %li
      %a{:href => "/provinces"} Provincias
    %li
      %a{:href => "/remuneration_types"} Tipos de Remuneracion
    %li
      %a{:href => "/remunerative_concepts"} Conceptos Haber
    %li
      %a{:href => "/retention_concepts"} Conceptos Retencion
    %li
      %a{:href => "/sections"} Secciones
    %li
      %a{:href => "/tasks"} Tareas
    %li
      %a{:href => "/tipo_recibos"} Tipos de Recibos

