- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item InsuranceCompany.model_name.human, insurance_companies_path 
    - breadcrumb.item "#{@insurance_company.detalle.titlecase}", insurance_company_path(@insurance_company), :active => true

= link_to t('scaffold.actions.show').titlecase, insurance_company_path(@insurance_company), :class => "btn info" 
.clear
%br/
= render 'form'
