%h1 Listado de Aseguradoras
%table
  %tr
    %th Detalle
    %th
  - @insurance_companies.each do |insurance_company|
    %tr
      %td= insurance_company.detalle
      %td= insurance_company_links(insurance_company)
%br/
= link_to 'Nueva Aseguradora', new_insurance_company_path
