- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item InsuranceCompany.model_name.human, insurance_companies_path
    - breadcrumb.item t('scaffold.actions.new', :item => InsuranceCompany.model_name.human).titlecase , insurance_companies_path, :active => true

= render 'form'
