<h1>Aseguradora</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @insurance_company.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_insurance_company_path(@insurance_company) %> |
	<%= link_to "Eliminar", @insurance_company, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Aseguradoras", insurance_companies_path %>
</p>
