- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Attachment.model_name.human, attachments_path
    - breadcrumb.item t('scaffold.actions.new', :item => Attachment.model_name.human).titlecase , attachments_path, :active => true

= render 'form'
