- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item AccountingImputation.model_name.human, accounting_imputations_path 
    - breadcrumb.item "#{@accounting_imputation.detalle.titlecase}", accounting_imputation_path(@accounting_imputation), :active => true

= link_to t('scaffold.actions.show').titlecase, accounting_imputation_path(@accounting_imputation), :class => "btn info" 
.clear
%br/
= render 'form'
