%h1 Listado de Cuentas Contables
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @accounting_imputations.each do |accounting_imputation|
    %tr
      %td= accounting_imputation.detalle
      %td= accounting_imputation_links(accounting_imputation)
%br/
= link_to 'Nueva Cuenta Contable', new_accounting_imputation_path
