<h1>Cuenta contable</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @accounting_imputation.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_accounting_imputation_path(@accounting_imputation) %> |
	<%= link_to "Eliminar", @accounting_imputation, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Cuentas contables", accounting_imputations_path %>
</p>
