%h1 Visualizacion de Cuentas Contables
%p#notice= notice
%p
  %b Detalle:
  = @accounting_imputation.detalle
= accounting_imputation_links(@accounting_imputation)
|
\#{link_to 'Volver', accounting_imputations_path}
