%h1 Visualizacion de Cuentas Contables
%p#notice= notice
%p
  %b Detalle:
  = @accounting_imputation.detalle
= link_to 'Editar', edit_accounting_imputation_path(@accounting_imputation)
|
\#{link_to 'Volver', accounting_imputations_path}
