- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Section.model_name.human, sections_path 
    - breadcrumb.item "#{@section.detalle.titlecase}", section_path(@section), :active => true

= link_to t('scaffold.actions.show').titlecase, section_path(@section), :class => "btn info" 
.clear
%br/
= render 'form'
