%h1 Listado de secciones
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @sections.each do |section|
    %tr
      %td= section.detalle
      %td= section_links(section)
%br/
= link_to 'Nueva Seccion', new_section_path
