<h1>Visualizacion de Seccion</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @section.detalle %>
</p>


<%= link_to 'Editar', edit_section_path(@section) %> |
<%= link_to 'Volver', sections_path %>
