%h1 Listado de Bancos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @bank_deposits.each do |bank_deposit|
    %tr
      %td= bank_deposit.detalle
      %td= bank_deposit_links(bank_deposit)
%br/
= link_to 'Nuevo Banco', new_bank_deposit_path
