<h1>Banco</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @bank_deposit.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_bank_deposit_path(@bank_deposit) %> |
	<%= link_to "Eliminar", @bank_deposit, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Bancos", bank_deposits_path %>
</p>
