%h1 Listado de Tipo de Documentos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @document_types.each do |document_type|
    %tr
      %td= document_type.detalle
      %td= document_type_links(document_type)
%br/
= link_to 'Nuevo Tipo de Documento', new_document_type_path
