<h1>Tipo de Documento</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @document_type.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_document_type_path(@document_type) %> |
	<%= link_to "Eliminar", @document_type, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Tipos de Documentos", document_types_path %>
</p>
