<h1>Visualizar Tipo de Documento</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @document_type.detalle %>
</p>


<%= link_to 'Editar', edit_document_type_path(@document_type) %> |
<%= link_to 'Volver', document_types_path %>
