<%= form_for([@liquidacion,@recibo_sueldo]) do |f| %>
  <% if @recibo_sueldo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recibo_sueldo.errors.count, "error") %> prohibited this recibo_sueldo from being saved:</h2>

      <ul>
      <% @recibo_sueldo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render(:template => 'recibo_sueldos/show')%>