<h1>Editar Group Retentions Retention Concept</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @group_retentions_retention_concept %> |
	<%= link_to "Group Retentions Retention Concepts", group_retentions_retention_concepts_path %>
</p>
