<div class="nested-fields">
    <div class="field">
        <%= f.label :remunerative_concept_id %><br />
        <%= f.text_field :remunerative_concept_id %>
    </div>
  <%= link_to_remove_association "Borrar codigo de Remuneracion", f %>
  <hr>
</div>
