%h1 Listing group_remunerations
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @group_remunerations.each do |group_remuneration|
    %tr
      %td= group_remuneration.detalle
      %td= group_remuneration_links(group_remuneration)
%br/
= link_to 'Nuevo Grupo de Remuneraciones', new_group_remuneration_path
