<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @group_remuneration.detalle %>
</p>


<%= link_to 'Edit', edit_group_remuneration_path(@group_remuneration) %> |
<%= link_to 'Back', group_remunerations_path %>
