- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item CostCenter.model_name.human, cost_centers_path 
    - breadcrumb.item "#{@cost_center.detalle.titlecase}", cost_center_path(@cost_center), :active => true

= link_to t('scaffold.actions.show').titlecase, cost_center_path(@cost_center), :class => "btn info" 
.clear
%br/
= render 'form'
