%h1 Listado de Centros de Costos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @cost_centers.each do |cost_center|
    %tr
      %td= cost_center.detalle
      %td= cost_center_links(cost_center)
%br/
= link_to 'Nuevo Centro de Costo', new_cost_center_path
