- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item CostCenter.model_name.human, cost_centers_path
    - breadcrumb.item t('scaffold.actions.new', :item => CostCenter.model_name.human).titlecase , nil, :active => true

= render 'form'
