<h1>Centro de Costos</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @cost_center.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_cost_center_path(@cost_center) %> |
	<%= link_to "Eliminar", @cost_center, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Centros de Costos", cost_centers_path %>
</p>
