<h1>Visualizacion de Centros de Costos</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @cost_center.detalle %>
</p>


<%= link_to 'Editar', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Volver', cost_centers_path %>
