<h1>Editar Codigo de Aporte Patronal</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @employer_contribution_concept %> |
	<%= link_to "Codigos de Aportes Patronales", employer_contribution_concepts_path %>
</p>
