
- content_for(:title) do
  %h1= t('scaffold.actions.edit', :item => SicossLocation.model_name.human).titlecase

= render 'form'

= link_to t('scaffold.actions.show').titlecase, @sicoss_location
\|
= link_to t('scaffold.actions.back').titlecase, sicoss_locations_path

