- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossLocation.model_name.human, sicoss_locations_path 
    - breadcrumb.item "#{@sicoss_location.name.titlecase}", sicoss_location_path(@sicoss_location), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_location_path(@sicoss_location), :class => "btn info" 
.clear
%br/
= render 'form'
