- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item AssociatedDocumentType.model_name.human, associated_document_types_path 
    - breadcrumb.item "#{@associated_document_type.name.titlecase}", associated_document_type_path(@associated_document_type), :active => true

= link_to t('scaffold.actions.show').titlecase, associated_document_type_path(@associated_document_type), :class => "btn info" 
.clear
%br/
= render 'form'
