
- content_for(:title) do
  %h1= t('scaffold.actions.new', :item => AssociatedDocumentType.model_name.human).titlecase

= render 'form'

= link_to t('scaffold.actions.back'), associated_document_types_path

