- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Consortium.model_name.human, consortia_path
    - breadcrumb.item t('scaffold.actions.new', :item => Consortium.model_name.human).titlecase , nil, :active => true

= render 'form'
