%h1 Listado de Lugares de Emision de Documentos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @issueds.each do |issued|
    %tr
      %td= issued.detalle
      %td= issued_links(issued)
%br/
= link_to 'Nuevo Lugar de EMision de Documento', new_issued_path
