<h1>Lugar de Emision</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @issued.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_issued_path(@issued) %> |
	<%= link_to "Eliminar", @issued, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Lugares de Emision", issueds_path %>
</p>
