- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Kinship.model_name.human, kinships_path 
    - breadcrumb.item "#{@kinship.name.titlecase}", kinship_path(@kinship), :active => true

= link_to t('scaffold.actions.show').titlecase, kinship_path(@kinship), :class => "btn info" 
.clear
%br/
= render 'form'
