- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Kinship.model_name.human, kinships_path
    - breadcrumb.item t('scaffold.actions.new', :item => Kinship.model_name.human).titlecase , nil, :active => true

= render 'form'
