- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossRegimenType.model_name.human, sicoss_regimen_types_path 
    - breadcrumb.item "#{@sicoss_regimen_type.name.titlecase}", sicoss_regimen_type_path(@sicoss_regimen_type), :active => true

= link_to t('scaffold.actions.show').titlecase, sicoss_regimen_type_path(@sicoss_regimen_type), :class => "btn info" 
.clear
%br/
= render 'form'
