- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossRegimenType.model_name.human, sicoss_regimen_types_path
    - breadcrumb.item t('scaffold.actions.new', :item => SicossRegimenType.model_name.human).titlecase , sicoss_regimen_types_path, :active => true

= render 'form'
