- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item DetalleReciboRetencion.model_name.human, detalle_recibo_retencions_path 
    - breadcrumb.item "#{@detalle_recibo_retencion.detalle.titlecase}", detalle_recibo_retencion_path(@detalle_recibo_retencion), :active => true

= link_to t('scaffold.actions.show').titlecase, detalle_recibo_retencion_path(@detalle_recibo_retencion), :class => "btn info" 
.clear
%br/
= render 'form'
