%h1 Visualizacion de Obra Social
%p#notice= notice
%p
  %b Detalle:
  = @health_insurance.detalle
= link_to 'Editar', edit_health_insurance_path(@health_insurance)
|
\#{link_to 'Volver', health_insurances_path}
