<h1>Visualizacion de Obra Social</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @health_insurance.detalle %>
</p>


<%= link_to 'Editar', edit_health_insurance_path(@health_insurance) %> |
<%= link_to 'Volver', health_insurances_path %>
