%h1 Listado de Paises
%table
  %tr
    %th Detalle
    %th
  - @countries.each do |country|
    %tr
      %td= country.detalle
      %td= country_links(country)
%br/
= link_to 'Nuevo Pais', new_country_path
