<h1>Editar Group Remunerations Remunerative Concept</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @group_remunerations_remunerative_concept %> |
	<%= link_to "Group Remunerations Remunerative Concepts", group_remunerations_remunerative_concepts_path %>
</p>
