- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item MenuUser.model_name.human, menu_users_path
    - breadcrumb.item t('scaffold.actions.new', :item => MenuUser.model_name.human).titlecase , menu_users_path, :active => true

= render 'form'
