<h1>Editing liquidacion</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @liquidacion %> |
<%= link_to 'Carga Novedades', liquidacion_recibo_sueldos_path(@liquidacion) %> |
<%= link_to 'Volver', liquidacions_path %>
