
- content_for(:title) do
  %h1= t('scaffold.actions.edit', :item => EmployeeDocument.model_name.human).titlecase

= render 'form'

= link_to t('scaffold.actions.show').titlecase, @employee_document
\|
= link_to t('scaffold.actions.back').titlecase, employee_documents_path

