- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Category.model_name.human, categories_path 
    - breadcrumb.item "#{@category.detalle.titlecase}", category_path(@category), :active => true

= link_to t('scaffold.actions.show').titlecase, category_path(@category), :class => "btn info" 
.clear
%br/
= render 'form'
