%h1 Listado de Categorias
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @categories.each do |category|
    %tr
      %td= category.detalle
      %td= category_links(category)
%br/
= link_to 'Nueva Categoria', new_category_path
%br/
= link_to icon('printer', :small, :title => 'Imprimir'), imprimir_category_path(@category)