- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Category.model_name.human, categories_path
    - breadcrumb.item t('scaffold.actions.new', :item => Category.model_name.human).titlecase , categories_path, :active => true

= render 'form'
