<h1>Su modificacion afectara el calculo de recibos</h1>

<p>
	<%= link_to "Calcular", calculate_changes_category_path(@category.id)%> |
    <%= link_to icon('printer', :small, :title => 'Imprimir'), category_path(@category_id, :format => 'json')%> |
	<%= link_to "Categorias", category_path %>
</p>
