- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Authorization.model_name.human, authorizations_path
    - breadcrumb.item t('scaffold.actions.new', :item => Authorization.model_name.human).titlecase , nil, :active => true

= render 'form'
