%h1 Listado de Provincias
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @provinces.each do |province|
    %tr
      %td= province.detalle
      %td= province_links(province)
%br/
= link_to 'Nueva Provincia', new_province_path
