<h1>Provincia</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @province.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_province_path(@province) %> |
	<%= link_to "Eliminar", @province, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Provincias", provinces_path %>
</p>
