- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Activity.model_name.human, activities_path 
    - breadcrumb.item "#{@activity.name.titlecase}", activity_path(@activity), :active => true

= link_to t('scaffold.actions.show').titlecase, activity_path(@activity), :class => "btn info" 
.clear
%br/
= render 'form'
