
- content_for(:title) do
  %h1= t('scaffold.actions.edit', :item => Activity.model_name.human).titlecase

= render 'form'

= link_to t('scaffold.actions.show').titlecase, @activity
\|
= link_to t('scaffold.actions.back').titlecase, activities_path

