- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Activity.model_name.human, activities_path
    - breadcrumb.item t('scaffold.actions.new', :item => Activity.model_name.human).titlecase , nil, :active => true

= render 'form'
