<h1>Activity</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @activity.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_activity_path(@activity) %> |
	<%= link_to "Eliminar", @activity, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Activities", activities_path %>
</p>
