- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Numerador.model_name.human, numeradors_path 
    - breadcrumb.item "#{@numerador.name.titlecase}", numerador_path(@numerador), :active => true

= link_to t('scaffold.actions.show').titlecase, numerador_path(@numerador), :class => "btn info" 
.clear
%br/
= render 'form'
