- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossCondition.model_name.human, sicoss_conditions_path
    - breadcrumb.item t('scaffold.actions.new', :item => SicossCondition.model_name.human).titlecase , sicoss_conditions_path, :active => true

= render 'form'
