%h1 Listado de Nacionalidades
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @nationalities.each do |nationality|
    %tr
      %td= nationality.detalle
      %td= nationality_links(nationality)
%br/
= link_to 'Nueva Nacionalidad', new_nationality_path
