<h1>Visualizar Nacionalidades</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @nationality.detalle %>
</p>


<%= link_to 'Editar', edit_nationality_path(@nationality) %> |
<%= link_to 'Volver', nationalities_path %>
