<h1>Nationalidad</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @nationality.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_nationality_path(@nationality) %> |
	<%= link_to "Eliminar", @nationality, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Nationalidades", nationalities_path %>
</p>
