- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item CharacterService.model_name.human, character_services_path 
    - breadcrumb.item "#{@character_service.detalle.titlecase}", character_service_path(@character_service), :active => true

= link_to t('scaffold.actions.show').titlecase, character_service_path(@character_service), :class => "btn info" 
.clear
%br/
= render 'form'
