%h1 Listado de Caracter de Servicio
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @character_services.each do |character_service|
    %tr
      %td= character_service.detalle
      %td= character_service_links(character_service)
%br/
= link_to 'Nuevo Caracter de Servicio', new_character_service_path
