<h1>Visualizar Caracter de Servicio</h1>


<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @character_service.detalle %>
</p>


<%= link_to 'Editar', edit_character_service_path(@character_service) %> |
<%= link_to 'Volver', character_services_path %>
