%h1 Listado de Localidades
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @locations.each do |location|
    %tr
      %td= location.detalle
      %td= location_links(location)
%br/
= link_to 'Nueva Localidad', new_location_path
