<h1>Lugar</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @location.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_location_path(@location) %> |
	<%= link_to "Eliminar", @location, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Lugares", locations_path %>
</p>
