- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item CausaEgreso.model_name.human, causa_egresos_path
    - breadcrumb.item t('scaffold.actions.new', :item => CausaEgreso.model_name.human).titlecase , causa_egresos_path, :active => true

= render 'form'
