%h1 Listado de Lugares
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @places.each do |place|
    %tr
      %td= place.detalle
      %td= place_links(place)
%br/
= link_to 'Nuevo Lugar', new_place_path
