<h1>Lugar de Trabajo</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @place.detalle %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_place_path(@place) %> |
	<%= link_to "Eliminar", @place, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Lugares de Trabajo", places_path %>
</p>
